.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #536;
  height: 150px;
  padding: 20px;
  color: #FFF2FF;
}

.App-title {
  text-decoration: underline;
  text-decoration-style: double;
  font-size: 60px;
  font-style: italic;
  text-align: center;
  color: #536;
}

.App-intro {
  font-size: 24px;
  margin: 80px;
}

.navbar {
  text-align: center;
  padding: 40px;
}

.newRecipeButton {
  background: green;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
}

.recipe-card {
  height: 250px;
  width: 175px;
  margin: 20px;
  background: #536;
  float: left;
  font-size: 16px;
  text-align: left;
  color: white;
  padding: 5px;
}

.recipecard-title {
  font-size: 22px;
}

.recipecard-category {
  font-size: 18px;
}

.single-view {
  height: auto;
  width: auto;
  margin: 10px;
  background: #536;
  display: inline-block;
  font-size: 16px;
  text-align: left;
  color: white;
  padding: 25px;
  border: 5px solid black;
}

.recipe-title {
  font-size: 36px;
  text-align: center;
}

.view-recipe-link {
  color: white;
}

.new-recipe-form {
  text-align: center;
  padding: 40px;
}

.comment {
  margin: 15px;
  padding: 5px;
}

.view-comments-button {
  background-color: pink;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
