.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #536;
  height: 150px;
  padding: 20px;
  color: #FFF2FF;
}

.App-title {
  font-size: 4.5em;
}

.App-intro {
  font-size: large;
}

.newRecipeButton {
  background: green;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
  padding:10px;
}

.recipe-card {
  height: 200px;
  width: 175px;
  margin: 10px;
  background: #536;
  float: left;
  font-size: 16px;
  text-align: left;
  color: white;
  padding: 5px;
}

.recipecard-title {
  font-size: 22px;
}

.recipecard-category {
  font-size: 18px;
}

.single-view {
  height: 1000px;
  width: 850px;
  margin: 10px;
  background: #536;
  display: inline-block;
  font-size: 16px;
  text-align: left;
  color: white;
  padding: 25px;
  border: 5px solid black;
}

.recipe-title {
  font-size: 36px;
  text-align: center;
}

.view-recipe-link {
  color: white;
  position: fixed;
}

.new-recipe-form {
  text-align: center;
  padding: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
